$family-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

$main-bg: #eee;
$text-color: #333;
$light-gray: #999;
$lighter-gray: #aaa;
$accent-color: #F4EA88;
$link-color: #1376a4;
$light-blue: #84E1FF;

$font-sm: 1.1rem;
$font-md: 1.4rem;